<ons-page>


        <div class="content" style="overflow: hidden;">
                
            
                <canvas #drawingCanvas (touchstart)="startDrawing($event)" (touchmove)="moveDrawing($event)" (touchend)="endDrawing($event)"></canvas>
            
        </div>

        <ons-speed-dial position="top left" direction="down">
                <ons-fab>
                        <ons-icon icon="md-palette"></ons-icon>
                </ons-fab>
                <ons-speed-dial-item *ngFor="let colour of availableColours" (click)="changeColour(colour)"  [style.background-color]="colour">
                </ons-speed-dial-item>
        </ons-speed-dial>

        <ons-fab position="top center" (click)="clearBoard()">
                <ons-icon icon="md-delete"></ons-icon>
        </ons-fab>

        <ons-speed-dial position="top right" direction="down">
                        <ons-fab>
                                <ons-icon icon="md-more"></ons-icon>
                        </ons-fab>
                        <ons-speed-dial-item (click)="saveDrawing()" >
                                        <ons-icon icon="md-save" ></ons-icon>
                        </ons-speed-dial-item>

                        <ons-speed-dial-item  >
                                        
                                        <input #camera type="file" (change)="onFileChange($event)" id="backgroundImg" accept="image/*" capture="environment" hidden>
                                        <ons-icon icon="md-camera" (click)="camera.click()"></ons-icon>
                        </ons-speed-dial-item>
                </ons-speed-dial>



        <ons-speed-dial position="bottom left" direction="up">
                <ons-fab>
                        <ons-icon icon="md-brush"></ons-icon>
                </ons-fab>
                <ons-speed-dial-item (click)="changeSize(5)" >
                        <ons-icon icon="md-circle" style="font-size:5px"></ons-icon>
                </ons-speed-dial-item>

                <ons-speed-dial-item (click)="changeSize(10)">
                        <ons-icon icon="md-circle" style="font-size:10px"></ons-icon>
                    </ons-speed-dial-item>

                    <ons-speed-dial-item (click)="changeSize(20)">
                            <ons-icon icon="md-circle" style="font-size:15px"></ons-icon>
                        </ons-speed-dial-item>

                        <ons-speed-dial-item (click)="changeSize(50)">
                                <ons-icon icon="md-circle" style="font-size:20px"></ons-icon>
                            </ons-speed-dial-item>

                            
        </ons-speed-dial>

    </ons-page>